<mat-toolbar color="primary">
  <button mat-icon-button (click)="leftSideMenu.open('mouse');" aria-label="Menu kinyitása" role="button">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <h1>Ng Mat PWA test with Fb</h1>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #leftSideMenu>
    <mat-nav-list>
      <a
        *ngFor="let menuItem of menu"
        mat-list-item
        (click)="leftSideMenu.close()"
        routerLinkActive
        #routerLinkActiveInstance="routerLinkActive"
        [attr.tabindex]="routerLinkActiveInstance.isActive?0:-1"
        [routerLink]="menuItem.path"
      >
        {{menuItem.name}}
      </a>
      <a class="close"
         mat-list-item tabindex="-1" (click)="leftSideMenu.close()">bezárás</a>
    </mat-nav-list>
  </mat-sidenav>
  <div id="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
